aside {
	position: fixed;
	top: 0;
	margin-top: calc(var(--from-top) + 50px);
	padding: 1em;
	width: 300px;
	height: 100%;
	max-height: calc(100% - 150px);
	border: 1px solid var(--light);
	box-shadow: 0px 5px 5px 2px var(--light);
	z-index: 1;
	border-radius: 5px;
	background: #fff;
}

aside.left {
	left: 0.5em;
	margin-right: 0.5em;
}

aside.right {
	right: 0.5em;
	margin-left: 0.5em;
}
