.tab {
	position: relative;
	cursor: pointer;
	background: #fff;
	flex-basis: 25%;
	height: 100%;
	transition: all 0.5s;
}

.tab.primary:not(:first-of-type),
.tab.secondary:not(:first-of-type) {
	border-left: 1px solid var(--orange);
}

.tab:first-of-type {
	border-top-left-radius: inherit;
}

.tab:last-of-type {
	border-top-right-radius: inherit;
}

.tab.secondary {
	top: 0px;
}

.tab.show-icon::after {
	font-size: 2em;
	font-weight: bold;
	color: var(--red);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-100%, -25%);
}

.tab.show-icon.up::after {
	content: "^";
}

.tab.show-icon.down::after {
	content: "v";
}
