.tab {
	position: relative;
	cursor: pointer;
	background: var(--green);
	flex: 1;
	min-width: 284px;
	height: 100%;
	margin: 0 0.5em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.tab.secondary {
	top: 0px;
	transition: all 0.5s;
}

.tab.show-icon::after {
	content: "^";
	font-size: 2em;
	font-weight: bold;
	color: var(--red);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-100%, -25%);
}
