.tab-div {
	position: relative;
	flex-basis: 100%;
	margin-top: 350px;
	height: 50px;
}

.tab-list {
	justify-content: center;
	height: 50px;
	position: absolute;
	transition: all 0.5s;
	box-sizing: border-box;
}

.tab-list * {
	box-sizing: border-box;
}

.tab-list.primary {
	z-index: 3;
}

.tab-list.secondary {
	z-index: 2;
	top: 0;
}
