.tab-div {
	position: relative;
	flex-basis: 100%;
	margin-top: var(--from-top);
	height: 50px;
}

.tab-list {
	justify-content: center;
	height: 50px;
	position: absolute;
	transition: all 0.5s;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.tab-list * {
	box-sizing: border-box;
}

.tab-list.primary {
	background: #fff;
	z-index: 3;
}

.tab-list.secondary {
	padding-left: 50px;
	z-index: 2;
	top: 50px;
}
