/* If changes are made to :root, values should be update in /json/cssVars.json  */

@font-face {
	font-family: Josefin;
	src: url("../assets/fonts/JosefinSans.ttf");
}

@font-face {
	font-family: Italianno;
	src: url("../assets/fonts/Italianno.ttf");
}

:root {
	--blue: #a8e6cf;
	--green: #dcedc1;
	--orange: #ffd3b6;
	--red: #ffaaa5;
	--light: #eee;
	--dark: #555;
	--page-width: calc(100vw - 700px);
	--from-top: 350px;
}

* {
	box-sizing: border-box;
	font-family: Josefin, "sans";
}

#root {
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background-color: #f8f8f6;
	min-height: 100vh;
}

.flex,
#root {
	display: flex;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

body {
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-repeat: repeat;
	color: var(--dark);
}

h1,
h2,
h3,
h4 {
	font-family: Italianno;
	margin: 0;
}

h2 {
	font-size: 30pt;
	font-weight: 100;
}

.wrap {
	flex-wrap: wrap;
}

.all-centered {
	justify-content: center;
	align-content: center;
	align-items: center;
}

.right-X {
	justify-content: flex-end;
}

.middle-X {
	justify-content: center;
}

.middle-Y {
	align-items: center;
}

.container {
	padding: 2em;
	border-radius: 5px;
	width: 100%;
}

.width {
	width: var(--page-width);
	max-width: var(--page-width);
}

.section {
	padding: 1em;
	background: #fff;
	border: 1px solid var(--light);
	box-shadow: 0px 5px 5px 2px var(--light);
	border-radius: 5px;
}

ul,
li {
	padding: 0;
	margin: 0.5em;
}

/* @media only screen and (max-width: 1500px) {
	:root {
		--page-width: 100%;
	}
} */
