/* If changes are made to :root, values should be update in /json/cssVars.json  */

@font-face {
	font-family: Josefin;
	src: url("../assets/fonts/JosefinSans.ttf");
}

@font-face {
	font-family: Italianno;
	src: url("../assets/fonts/Italianno.ttf");
}

:root {
	--blue: #a8e6cf;
	--green: #dcedc1;
	--orange: #ffd3b6;
	--red: #ffaaa5;
	--light: #eee;
	--dark: #666;
	--page-width: calc(100vw - 700px);
	--from-top: 500px;
	--font-h: Italianno;
	--font-m: Josefin;
}

* {
	box-sizing: border-box;
	font-family: var(--font-m), "sans";
}

#root {
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background-color: #f5f5f5;
	min-height: 100vh;
	width: 100%;
	font-size: 14pt;
}

.flex,
#root {
	display: flex;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

body {
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-repeat: repeat;
	color: var(--dark);
	width: 100%;
}

h1,
h2,
h3 {
	font-family: var(--font-h);
	margin: 0;
	font-weight: 100;
	margin-bottom: 0.5em;
	text-align: left;
}

h1 {
	font-size: 34pt;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 16pt;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: var(--dark);
}

a:visited {
	color: var(--dark);
}

a:hover {
	color: var(--red);
}

p {
	margin: 0;
}

.wrap {
	flex-wrap: wrap;
}

.all-centered {
	justify-content: center;
	align-content: center;
	align-items: center;
}

.right-X {
	justify-content: flex-end;
}

.middle-X {
	justify-content: center;
}

.middle-Y {
	align-items: center;
}

.container {
	padding: 2em;
	border-radius: 5px;
	width: 100%;
}

.width {
	width: var(--page-width);
	max-width: var(--page-width);
}

.width-100 {
	width: 100%;
}

.section {
	padding: 1em;
	background: #fff;
	border: 1px solid var(--light);
	box-shadow: 0px 5px 5px 2px var(--light);
	border-radius: 5px;
}

ul,
li {
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 1500px) {
	:root {
		--page-width: calc(100vw - 350px);
	}

	#root {
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 1100px) {
	:root {
		--page-width: calc(100vw - 50px);
	}

	#root {
		justify-content: center;
		font-size: 14pt;
	}

	h1 {
		font-size: 26pt;
	}

	h2 {
		font-size: 20pt;
	}

	h3 {
		font-size: 16pt;
	}

	h4 {
		font-size: 16pt;
	}
}

@media only screen and (max-width: 800px) {
	#root {
		font-size: 10pt;
	}

	h4 {
		font-size: 12pt;
	}
}

@media only screen and (max-width: 500px) {
	:root {
		--page-width: calc(100vw - 20px);
	}

	#root {
		font-size: 10pt;
	}

	h1 {
		font-size: 22pt;
	}

	h2 {
		font-size: 18pt;
	}

	h3 {
		font-size: 15pt;
	}

	h4 {
		font-size: 12pt;
	}
}
