@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

$primary: #010818;
$secondary: #711e71;
$light: #f4f4f4;
$dark: #232020;
$headerHeight: 200px;

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: $primary;
}

html::-webkit-scrollbar {
  width: 15xp;
  background-color: $light;
}

html::-webkit-scrollbar-thumb {
  background: $primary;
  box-shadow: inset 2px 0px 5px $secondary, inset 0px 2px 5px $secondary,
    0px 5px 15px 1px $secondary, 0px -5px 15px 1px $secondary;
}

body {
  display: flex;
  background-color: $primary;
  font-family: Montserrat;
}

div {
  display: flex;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-wrap: wrap;
}

a {
  flex-basis: 250px;
  text-decoration: none;
  display: flex;
  color: inherit;
}

ul {
  padding: 1em 0;
  position: relative;
  flex-basis: 100%;
  font-size: 1.2em;
  list-style-type: none;
}

li::before {
  content: "";
  position: absolute;
  left: -1em;
  margin-top: 10px;
  width: 3px;
  height: 3px;
  background-color: $primary;
  border: 3px solid $secondary;
  border-radius: 50%;
}

/* HEADER */

.header {
  flex-basis: 100%;
  position: relative;
  padding: 2em;
  height: $headerHeight;
  min-height: $headerHeight;
  border-bottom: 4px solid $secondary;
  background: url("../../src/assets/header.jpg") 0% 100% / cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 20px 1px $secondary;
  align-content: center;
  justify-content: flex-end;

  .headerButton {
    position: relative;
    top: -200px;
    flex-basis: 200px;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    font-weight: bolder;
    color: $secondary;
    height: 2em;
    border: 2px solid $secondary;
    border-radius: 5px;
    box-shadow: inset 0px 2px 20px 1px $secondary;
    cursor: pointer;
    transition: 0.5s all;
    margin: 0 1em;

    &:hover {
      transform: scale(1.1);
      box-shadow: inset 0px 1px 10px 0px $secondary, 0px 2px 20px 1px $secondary;
    }

    &:active {
      transition: 0s all;
      transform: scale(1.2);
    }
  }
}

/* LEFT DIV */

.leftDiv {
  flex-basis: 80%;
}

.leftDivContent {
  background-color: $dark;
}

.projectListDiv {
  padding: 1em;
  min-height: 40em;
  justify-content: space-around;
  align-content: space-around;
}

.projectMain {
  flex: 100%;
  display: flex;
  height: 50em;
  padding: 1em;
  margin: 1em 0;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  opacity: 0;
  transition: 1s opacity;
}

.projectDiv {
  flex-basis: 70%;
  margin: 10px;
  padding: 3em;
  min-width: 480px;
  height: 500px;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 5px;
}

.projectImageDiv {
  transform: skew(-15deg);
  filter: grayscale(1);
  opacity: 0.8;
  background-color: $secondary;
  background-repeat: no-repeat;
  flex-basis: 25%;
  position: relative;
  transition: flex-basis 0.3s ease-in, transform 0.3s, opacity 0.3s, filter 0.3s;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px #711e71;
}

.projectInfoDiv {
  flex-basis: 25%;
  margin: 10px;
  padding-left: 70px;
  min-width: 480px;
  position: relative;
  transition: flex-basis 0.3s ease-in, transform 0.3s, opacity 0.3s, filter 0.3s;
  z-index: 1;
  border-radius: 5px;
  align-content: center;
  list-style-type: none;
  color: $light;

  .additionalInfo {
    margin: 1em 0;
    color: $light;
    font-size: 1.2em;
  }

  a {
    text-decoration: underline;
  }
}

/* RIGHT DIV */

.rightDiv {
  position: fixed;
  top: $headerHeight;
  right: 0px;
  width: 20vw;
  height: calc(100vh - 200px);
  transition: 0.5s all;
}

.rightDivContent {
  margin-top: 1em;
  padding: 10px;
  height: 40%;
  min-height: 300px;
  // border-left: 4px solid $secondary;
  // border-bottom: 4px solid $secondary;
  // border-bottom-left-radius: 8px;
  // border-top: 4px solid $secondary;
  // border-top-left-radius: 8px;
  color: grey;
  filter: grayscale(1);
  transition: all 0.3s;
}

.styledIconList {
  position: relative;
  padding: 1em;
  height: 100%;
  min-height: 500px;
  align-content: space-around;
  border-top-left-radius: 5px;
  justify-content: center;
  align-content: center;
}

.icon {
  position: relative;
  right: -100px;
  filter: grayscale(1);
  margin: 10px 10px;
  flex-basis: 65px;
  height: 65px;
  border: 2px solid $secondary;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s, opacity 0.5s;
}

.icon.highlighted {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 2px 2px 10px $secondary;
  border-color: white;
}

.icon.shrinked {
  transform: scale(0.7);
  border-color: black;
}

.icon:hover,
.rightDivContent:hover {
  filter: grayscale(0);
}

.icon:hover {
  transform: scale(1.1);
}

.icon:active {
  transition: transform 0s;
  transform: scale(1.2);
}

.iconName {
  position: absolute;
  color: $light;
  right: 0px;
  top: -2em;
  border: 2px solid $secondary;
  border-radius: 5px;
  background: $primary;
  width: 200px;
  height: 2em;
  font-size: 20pt;
  justify-content: center;
  align-content: center;
}

// BACKGROUND

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.bg-line {
  position: absolute;
  transform: skew(-45deg);
  height: 500px;
  background: linear-gradient(-45deg, $primary 0%, $secondary 100%);
}

@media only screen and (max-width: 1500px) {
  .projectMain {
    flex-wrap: wrap;
  }

  .rightDiv {
    width: 23vw;
  }

  .icon {
    flex-basis: 50px;
    height: 50px;
  }

  .iconName {
    position: absolute;
    color: $light;
    left: 50%;
    transform: translateX(-50%);
    top: -2em;
    border: 2px solid $secondary;
    border-radius: 5px;
    background: $primary;
    width: 120px;
    height: 1.5em;
    font-size: 15pt;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  body {
    padding-bottom: 200px;
  }

  .leftDiv {
    flex-basis: 100%;

    .projectDiv {
      flex-basis: 100%;
      max-width: 650px;
      height: 450px;
    }
  }

  .rightDiv {
    bottom: 0px !important;
    left: 0px;
    top: initial !important;
    width: 100%;
    height: 200px !important;
    z-index: 5;

    .rightDivContent {
      display: none;
    }

    .styledIconList {
      position: fixed;
      bottom: 0px;
      height: 200px;
      min-height: 200px;
      width: 100%;
      background-color: $primary;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 200px;
  }

  .header {
    padding: 0px;
    flex-wrap: nowrap;
    align-items: center;

    a {
      width: 150px;

      .headerButton {
        flex-basis: 150px;
      }
    }
  }

  .leftDiv {
    flex-basis: 100%;
    padding: 0px;

    .projectMain {
      height: auto;

      .projectDiv {
        padding: 2em 0;
        flex-basis: 100%;
        max-width: 300px;
        min-width: 300px;
        height: 200px;
      }

      .projectInfoDiv {
        padding: 0;
        min-width: 300px;

        h1 {
          font-size: 1.4em;
        }

        ul {
          li {
            font-size: 1em;
          }
        }
      }
    }
  }

  .rightDiv {
    bottom: 0px !important;
    left: 0px;
    top: initial !important;
    width: 100%;
    height: 200px !important;
    z-index: 5;

    .rightDivContent {
      display: none;
    }

    .styledIconList {
      position: fixed;
      bottom: 0px;
      height: 200px;
      min-height: 200px;
      width: 100%;
      background-color: $primary;

      .icon {
        flex-basis: 30px;
        height: 30px;
      }
    }
  }
}
