@font-face {
    font-family: MavenPro;
    src: url(../fonts/MavenPro.ttf);
}

#newOrderWindow {
    font-family: MavenPro, 'Courier New', serif;
    color: tomato;
    font-weight: bold;
    display: none;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 240, 240, 0.9);
}

.newOrderCont {
    display: flex;
}

.fieldSetCont, fieldset, legend, .row, .bottomButtons {
    display: flex;
}

.fieldSetCont {
    flex-wrap: wrap;
    width: 500px;
}

fieldset {
    flex-basis: 100%;
    flex-wrap: wrap;
    border: 2px solid tomato;
}

legend div {
    width: 180px
}

.row {
    flex-basis: 100%;
    flex-wrap: nowrap;
    align-items: center;
}

.row div {
    flex-basis: 100%;
    padding: 2px;
}

.row div:first-child {
    flex-basis: 150px;
    margin-right: 5px;
    text-align: right;
}

input, textarea, select {
    width: 100%;
    padding: 2px;
    border: 2px solid tomato;
    color: black;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    width: 225px;
}

.bottomButtons {
    flex-basis: 100%;
    justify-content: flex-end;
}

.bottomButtons input, button{
    width: 100px;
    margin: 2px;
    padding: 2px;
    border: 2px solid tomato;
    background-color: tomato;
    color: white
}

.bottomButtons input:hover, button:hover {
    border: 2px solid black;
}

.bottomButtons input:active, button:active {
    opacity: 0.5;
}

.closeWindow {
    width: 40px;
    height: 40px;
    font-size: 18pt;
}

@media screen and (max-width: 700px) {
    #newOrderWindow {
        justify-content: flex-start;
    }

    .fieldSetCont {
        flex-wrap: wrap;
        width: 400px;
    }
    
    input, textarea, select {
        width: 200px;
    }
    
    legend div {
        width: 110px
    }
    
    input[type="file"] {
        width: 100px;
    }
}