.post {
	position: relative;
	justify-content: space-between;
	margin: 0 0 3em;
	/* border: 1px solid var(--light);
	box-shadow: 0px 0px 5px 2px var(--light); */
}

.post-top,
.post-bottom {
	flex-basis: 100%;
}

.post-header {
	padding: 2em;
	flex: 100%;
}

.post-header > *:not(button) {
	flex: 100%;
}

.post-header button {
	float: right;
}

.post-image {
	float: left;
	width: 400px;
	height: 400px;
	max-height: 400px;
	object-fit: cover;
	border-radius: 3px;
}

.post h2 {
	color: var(--red);
	font-size: 22pt;
	margin: 0;
}

.post-intro {
	position: relative;
	font-size: 16pt;
}

.post-content {
	padding: 1em;
}
