:root {
	--primary-color: #010818;
	--secondary-color: #711e71;
	--dark-color: #232020;
	--light-color: #f8f8f8;
	--grey-color: #bbb;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--user-info-width: 260px;
}

@font-face {
	font-family: Montserrat;
	src: url(../assets/fonts/Montserrat-Regular.ttf);
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	background-color: #fff;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 20pt;
	margin: 0;
}

h2 {
	font-size: 18pt;
	margin: 0;
}

h3 {
	font-size: 14pt;
	margin: 0;
	font-weight: 100;
}

a {
	text-decoration: none;
	padding: 0 !important;
	margin: 0;
}

a:hover {
	color: inherit;
	background-color: inherit;
}

a:active,
a:visited {
	color: inherit;
}

.container {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	width: 100%;
	margin: auto;
	background-color: var(--light-color);
	overflow: hidden;
}

.section {
	padding: 20px;
	margin: 50px 0;
	border-radius: 5px;
	width: 100%;
	width: 1300px;
	background-color: var(--light-color);
	box-shadow: 10px 0 10px -10px var(--grey-color),
		-10px 0px 10px -10px var(--grey-color);
}

.section-title {
	padding: 20px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 30pt;
	/* box-shadow: 0 5px 5px -5px var(--grey-color); */
}

.divider {
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	height: 150px;
	width: 100%;
	color: var(--light-color);
	background-color: var(--primary-color);
	box-shadow: 0px 0px 5px var(--primary-color);
	overflow: hidden;
}

.divider .divider-light {
	position: absolute;
	right: -11%;
	background-color: white;
	height: 700px;
	width: 700px;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
	top: -100%;
}

.divider table {
	position: absolute;
	top: -50%;
	left: 0;
	border-collapse: collapse;
	-webkit-transform: rotate3d(0.5, 1, 1, 50deg);
	transform: rotate3d(0.5, 1, 1, 50deg);
	z-index: -1;
	opacity: 0.3;
}

.divider table tr {
	height: 250px;
}

.divider table td {
	width: 300px;
	border: 5px solid var(--secondary-color);
}

.divider-light table.divider-light-table {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.divider-light table.divider-light-table td {
	border-width: 2px;
	box-shadow: 0px 2px 5px var(--primary-color);
}

.text-primary {
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-success {
	color: var(--success-color);
}

.text-danger {
	color: var(--danger-color);
}

.loader {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}

.loader-dots {
	display: -webkit-box;
	display: flex;
}

.loader-dots .dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--dark-color);
	margin: 0 10px;
	-webkit-animation: bounce 0.5s ease-in infinite;
	animation: bounce 0.5s ease-in infinite;
}

.loader-dots .dot:nth-of-type(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader-dots .dot:nth-of-type(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		box-shadow: 0 -7px 2px rgba(0, 0, 0, 0.3);
	}

	50% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
		opacity: 0.6;
		box-shadow: 0 7px 2px rgba(0, 0, 0, 0.3);
	}
}

@keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		box-shadow: 0 -7px 2px rgba(0, 0, 0, 0.3);
	}

	50% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
		opacity: 0.6;
		box-shadow: 0 7px 2px rgba(0, 0, 0, 0.3);
	}
}

header {
	position: relative;
	background-color: var(--light-color);
	width: 100%;
	height: 500px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-transition: height 1s, -webkit-transform 0.3s;
	transition: height 1s, -webkit-transform 0.3s;
	transition: transform 0.3s, height 1s;
	transition: transform 0.3s, height 1s, -webkit-transform 0.3s;
}

.header .header-title {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	        justify-content: center;
	height: 300px;
	width: 600px;
	min-height: 150px;
	min-width: 300px;
	background-color: inherit;
	/* color: var(--secondary-color); */
	/* font-size: 35pt; */
	/* border: 3px solid var(--secondary-color); */
	border-radius: 5px;
}

.header .blink.hidden {
	visibility: hidden;
}

.header-title .code-line:not(:first-of-type):not(:last-of-type) {
	padding-left: 20px;
}

.navbar.primary {
	position: relative;
	top: 50px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	background-color: var(--primary-color);
	height: 50px;
	width: 100%;
	z-index: 2;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	/* border-bottom: 3px solid var(--primary-color); */
}

.navbar.primary.fixed {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

button {
	cursor: pointer;
	overflow: hidden;
	font-family: inherit;
	font-size: 15px;
}

button:focus {
	outline: 0;
}

.btn-navbar.primary {
	border: 0;
	height: 100%;
	width: 200px;
	padding: 10px 20px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background-color: var(--light-color);
}

.btn-navbar.primary:first-of-type:not(.link) {
	border-left: 2px solid var(--primary-color);
}

.btn-navbar.primary:hover {
	background-color: var(--grey-color);
	font-size: 102%;
}

.btn-navbar.primary:active {
	background-color: var(--dark-color);
}

.btn-navbar.primary:hover * {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

aside {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 400px;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	z-index: 10;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	transition: -webkit-transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
	transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

aside.hidden {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.aside-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	color: var(--light-color);
}

.btn-aside {
	visibility: hidden;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 10;
	width: 40px;
	height: 40px !important;
	border: none;
	background: transparent;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	transition: -webkit-transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
	transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.btn-aside::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-size: 200%;
	color: var(--light-color);
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00d";
}

.btn-aside.hidden::before {
	content: "\f0c9";
}

.btn-aside.hidden {
	-webkit-transform: translateX(160%);
	transform: translateX(160%);
}

.navbar.aside {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-box-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	align-items: center;
}

.btn-navbar.aside {
	border: 0;
	width: 100%;
	-webkit-box-flex: 1;
	flex: 1;
	padding: 10px 20px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background-color: var(--primary-color);
	color: var(--light-color);
	border-bottom: 2px solid var(--grey-color);
}

.btn-navbar.aside:last-of-type {
	border-bottom: none;
}

.btn-navbar.aside:hover,
.btn-navbar.aside:hover a {
	background-color: var(--secondary-color);
}

.btn-navbar.aside:active {
	background-color: #411b41;
}

.btn-navbar.aside:hover * {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* PROJECTS SECTION */
.projects {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: var(--light-color);
}

.projects-line {
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 400px;
	padding: 20px 0;
	background-color: var(--light-color);
}

.projects-line > .arrow {
	position: absolute;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	width: 250px;
	z-index: 10;
}

.projects-line > .arrow i {
	cursor: pointer;
}

.projects-line > .arrow.left {
	left: 0;
	-webkit-box-pack: start;
	justify-content: flex-start;
	padding-left: 20px;
	background: -webkit-gradient(
		linear,
		left top, right top,
		color-stop(40%, rgba(248, 248, 248, 1)),
		to(rgba(248, 248, 248, 0))
	);
	background: linear-gradient(
		to right,
		rgba(248, 248, 248, 1) 40%,
		rgba(248, 248, 248, 0)
	);
}

.projects-line > .arrow.right {
	right: 0;
	-webkit-box-pack: end;
	justify-content: flex-end;
	padding-right: 20px;
	background: -webkit-gradient(
		linear,
		right top, left top,
		color-stop(40%, rgba(248, 248, 248, 1)),
		to(rgba(248, 248, 248, 0))
	);
	background: linear-gradient(
		to left,
		rgba(248, 248, 248, 1) 40%,
		rgba(248, 248, 248, 0)
	);
}

.project-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: absolute;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
	background-color: var(--light-color);
}

.project-description {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	width: 700px;
	height: 250px;
	margin-bottom: 20px;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.project-description.hidden {
	opacity: 0;
}

.project-description ul {
	position: relative;
	text-align: left;
	list-style-type: none;
	padding: 0;
}

.project-description ul li {
	margin: 5px 0;
}

.project-description ul li::before {
	content: "";
	position: absolute;
	left: -20px;
	margin-top: 6px;
	width: 6px;
	height: 6px;
	background-color: #010818;
	border-radius: 50%;
}

.project-container.hidden.toLeft {
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transform: translateX(-170%) rotateY(-90deg);
	transform: translateX(-170%) rotateY(-90deg);
	opacity: 0;
}

.project-container.hidden.toRight {
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transform: translateX(170%) rotateY(90deg);
	transform: translateX(170%) rotateY(90deg);
	opacity: 0;
}

.project-container.active.fromLeft {
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transform: translateX(0) rotateY(0deg);
	transform: translateX(0) rotateY(0deg);
	z-index: 2;
}

.project-container.active.fromRight {
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transform: translateX(0) rotateY(0deg);
	transform: translateX(0) rotateY(0deg);
	z-index: 2;
}

.project-container.left {
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transform: translateX(-100%) rotateY(-30deg);
	transform: translateX(-100%) rotateY(-30deg);
	z-index: 1;
}

.project-container.right {
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transform: translateX(100%) rotateY(30deg);
	transform: translateX(100%) rotateY(30deg);
	z-index: 1;
}

.project-description.active {
	visibility: visible;
}

.project {
	position: relative;
	width: 500px;
	min-width: 500px;
	height: 350px;
	max-height: 350px;
	margin: 0 10px;
	border: 1px solid var(--grey-color);
	border-radius: 5px;
	box-shadow: 0px 5px 10px var(--grey-color);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.icon-list:not(.small) {
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* display: flex; */
	/* flex-wrap: wrap;
	align-items: center; */
	justify-content: space-around;
	background-color: #fff;
	border-radius: 5px;
}

.icon-list .icon {
	margin: 25px auto;
	width: 55px;
	height: 55px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	-webkit-transition: opacity 1s, -webkit-transform 0.5s;
	transition: opacity 1s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 1s;
	transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}

.icon-list .icon.hidden {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	opacity: 0;
}

.icon-list.small {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	border-radius: 5px;
}

.icon-list.small::before {
	content: "Tools used:";
	position: absolute;
	bottom: 52px;
	left: 0px;
	right: 0px;
	padding-left: 10px;
	background-color: #fff;
	font-size: 10pt;
}

.icon-list.small .icon.small {
	width: 25px;
	height: 25px;
	margin: 0;
}

/* GITHUB SECTION */
.github {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	max-height: 500px;
	overflow: hidden;
	padding-bottom: 150px !important;
	-webkit-transition: max-height 1s cubic-bezier(0.1, 0.1, 0.1, 1);
	transition: max-height 1s cubic-bezier(0.1, 0.1, 0.1, 1);
}

.github-logo {
	text-align: left;
}

.github-logo img {
	width: 150px;
	height: 150px;
}

.github.loading {
	height: 200px;
	-webkit-box-align: center;
	align-items: center;
}

.github.expand {
	max-height: 2000px;
	-webkit-transition: max-height 0.7s ease-in;
	transition: max-height 0.7s ease-in;
}

.github .github-expand {
	position: absolute;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	bottom: 0;
	height: 150px;
	color: var(--dark-color);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(248, 248, 248, 0.5)),
		color-stop(50%, rgba(248, 248, 248))
	);
	background: linear-gradient(
		rgba(248, 248, 248, 0.5),
		rgba(248, 248, 248) 50%
	);
	width: 100%;
}

.github .github-expand-button {
	position: absolute;
	cursor: pointer;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: var(--light-color);
	border: 1px solid var(--grey-color);
	border-radius: 50%;
	color: var(--dark-color);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.github .github-expand-button:hover {
	width: 75px;
	height: 75px;
	box-shadow: 0px 3px 5px var(--grey-color);
}

.github .github-expand-button:hover > i.fa-angle-double-down {
	-webkit-animation: goDown 1s linear infinite;
	animation: goDown 1s linear infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.github .github-expand-button:hover > i.fa-angle-double-up {
	-webkit-animation: goUp 1s linear infinite;
	animation: goUp 1s linear infinite;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

@-webkit-keyframes goDown {
	0%,
	100% {
		-webkit-transform: translateY(0) scale(1.5);
		transform: translateY(0) scale(1.5);
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	40% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	60% {
		opacity: 0;
	}
}

@keyframes goDown {
	0%,
	100% {
		-webkit-transform: translateY(0) scale(1.5);
		transform: translateY(0) scale(1.5);
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	40% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	60% {
		opacity: 0;
	}
}

@-webkit-keyframes goUp {
	0%,
	100% {
		-webkit-transform: translateY(0) scale(1.5);
		transform: translateY(0) scale(1.5);
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	40% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	60% {
		opacity: 0;
	}
}

@keyframes goUp {
	0%,
	100% {
		-webkit-transform: translateY(0) scale(1.5);
		transform: translateY(0) scale(1.5);
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	40% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
	60% {
		opacity: 0;
	}
}

.github-user {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
}

.github-user > * {
	-webkit-box-flex: 1;
	flex: 1;
	margin: 0 10px;
}

.github-user-info {
	min-width: var(--user-info-width);
	max-width: var(--user-info-width);
	z-index: 1;
}

.github-user-info p {
	font-size: 10pt;
}

.github-avatar {
	width: var(--user-info-width);
	height: var(--user-info-width);
}

.btn-github {
	display: block;
	width: 100%;
	text-align: center;
	padding: 6px 12px;
	font-weight: 600;
	white-space: nowrap;
	border: 1px solid rgba(27, 31, 35, 0.2);
	border-radius: 0.25em;
	margin: 30px 0;
}

.github-repos {
	-webkit-box-flex: 1;
	flex: 1;
	padding-left: 40px;
}

.repos-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 10px;
}

.badges {
	border-bottom: 1px solid #d1d5da;
	margin: 0.7rem 0;
}

.badge {
	display: inline-block;
	font-size: 0.8rem;
	text-align: center;
	padding: 16px 8px;
	margin-right: 16px;
	margin: 0.3rem;
	background: var(--light-color);
	color: #586069;
	border-radius: 5px;
}

.badge span {
	display: inline-block;
	padding: 2px 5px;
	font-size: 9pt;
	font-weight: 600;
	line-height: 1;
	background-color: rgba(27, 31, 35, 0.08);
	border-radius: 20px;
}

.repo {
	position: relative;
	opacity: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-width: 500px;
	height: 115px;
	padding: 16px;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	/* transition: right 1s, left 1s, opacity 1.5s; */
}

.repo.left {
	left: -100px;
}

.repo.right {
	right: -100px;
}

.repo a {
	color: #0366d6;
	font-size: 10pt;
	font-weight: 600;
}

.repo a:hover {
	text-decoration: underline;
}

.repo p,
.repo .repo-languages {
	font-size: 9pt;
}

.repo-languages,
.repo-languages > div {
	display: -webkit-box;
	display: flex;
}

.repo-languages > div {
	margin-right: 7px;
}

.repo-languages .repo-language-color {
	position: relative;
	top: 1px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 2px;
}

.html {
	background-color: #e34c26;
}

.javascript {
	background-color: #f1e05a;
}

.css {
	background-color: #563d7c;
}

.dockerfile {
	background-color: #384d54;
}

.php {
	background-color: #4f5d95;
}

.hack {
	background-color: #878787;
}

.csharp {
	background-color: #178600;
}

.shaderlab {
	background-color: #cccccc;
}
.hlsl {
	background-color: #cccccc;
}

.objective-c {
	background-color: #438eff;
}

.footer {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	        justify-content: flex-end;
	width: 100%;
	height: 50px;
	padding: 20px;
	background-color: var(--primary-color);
	color: var(--light-color);
}

@media (max-width: 1300px) {
	.section {
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.divider-light {
		display: none;
	}

	.project {
		width: 400px;
		min-width: 400px;
		height: 300px;
		min-height: 300px;
	}

	.github.expand {
		max-height: 2500px;
		-webkit-transition: max-height 0.7s ease-in;
		transition: max-height 0.7s ease-in;
	}

	.badges {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.badge {
		padding: 8px;
	}

	.repos-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px 10px;
	}
}

@media (max-width: 870px) {
	.divider {
		height: 150px;
	}

	.section-title {
		font-size: 22pt;
	}

	.navbar.primary .btn-navbar.primary {
		display: none;
	}

	.btn-aside {
		visibility: visible;
	}

	.projects-line > .arrow {
		width: 150px;
	}

	.projects-line .arrow.left,
	.projects-line .arrow.right {
		padding: 0;
	}

	.badges {
		display: grid;
		grid-template-columns: 1fr;
	}

	.icon-list:not(.small) {
		grid-template-columns: repeat(5, 1fr);
	}

	.icon-list .icon {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 700px) {
	.section {
		padding: 10px;
	}

	.project-description {
		width: 100%;
	}

	.projects-line > .arrow {
		width: 100px;
	}

	.projects-line {
		height: 300px;
	}

	.project {
		width: 300px;
		min-width: 300px;
		height: 250px;
		min-height: 250px;
	}

	.icon-list.small .icon.small {
		width: 17px;
		height: 17px;
		margin: 0;
	}

	.github-user {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: start;
		justify-content: center;
	}

	.github-user > div:first-of-type {
		text-align: center;
	}

	.github-user-info {
		display: -webkit-box;
		display: flex;
		max-width: 100%;
		-webkit-box-align: center;
		align-items: center;
		justify-content: space-around;
	}

	.github-avatar {
		width: 150px;
		height: 150px;
	}

	.github.expand {
		max-height: 4000px;
		-webkit-transition: max-height 0.7s ease-in;
		transition: max-height 0.7s ease-in;
	}

	.badges {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.badge {
		padding: 4px;
		font-size: 8pt;
	}

	.badge span {
		font-size: 8pt;
	}

	.github-repos {
		padding: 5px;
	}
}

@media (max-width: 500px) {
	.header {
		height: 400px;
	}

	.header-title {
		font-size: 9pt;
	}

	h1 {
		font-size: 14pt;
	}

	h2 {
		font-size: 12pt;
	}

	h3 {
		font-size: 11pt;
	}

	.divider {
		height: 100px;
	}

	.section-title {
		font-size: 18pt;
	}

	.projects-line > .arrow {
		width: 30px;
	}

	.badge {
		padding: 1px;
		font-size: 7pt;
	}

	.badge span {
		font-size: 7pt;
	}

	.icon-list:not(.small) {
		grid-template-columns: repeat(4, 1fr);
	}

	.icon-list .icon {
		margin: 5px auto;
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 450px) {
	.header-title {
		font-size: 7pt;
	}

	.section {
		padding: 5px;
	}

	.project-description {
		padding: 0 5px;
		width: 100%;
		font-size: 80%;
	}

	.projects-line > .arrow {
		width: 40px;
		height: 40px;
	}

	.projects-line .arrow.left,
	.projects-line .arrow.right {
		background: rgba(248, 248, 248, 0.5);
		border-radius: 3px;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.project {
		width: 97%;
		height: 200px;
	}

	.github-user-info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.github-avatar {
		width: 100px;
		height: 100px;
	}

	.badges {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.repo p,
	.repo .repo-languages {
		font-size: 6pt;
	}

	.repo-languages .repo-language-color {
		width: 8px;
		height: 8px;
	}

	.footer {
		font-size: 8pt;
	}
}
