.btn-success,
.btn-danger,
.btn-warning,
.btn-secondary,
.btn-primary,
.btn {
	border: none;
	border-radius: 5px;
	padding: 0 1em;
	min-width: 75px;
	height: 40px;
	outline: none;
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	opacity: 0.8;
	transform: scale(0.97);
}

.btn.small {
	padding: 0 1em;
	min-width: 45px;
	height: 20px;
}

.btn.width {
	width: 100%;
}

.btn-primary {
	background-color: var(--blue);
	color: white;
}

.btn-secondary {
	background-color: var(--light);
	color: white;
}

.btn-warning {
	background-color: var(--orange);
	color: white;
}

.btn-danger {
	background-color: var(--red);
	color: white;
}

.btn-success {
	background-color: var(--green);
	color: white;
}
