// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Livvic:300,300i,400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

$color-primary: #a8d5ff;
$color-secondary: #d7a3f7;
$color-success: #c6e5a7;
$color-warning: #f7eb7e;
$color-danger: #ff7c7c;

$font-header: "Amatic SC", cursive;
$font-primary: "Livvic", sans-serif;

.flex,
#root {
  display: flex;
  justify-content: center;
  font-family: $font-primary;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.wrap {
  flex-wrap: wrap;
}

.all-centered {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right-X {
  justify-content: flex-end;
}

.middle-X {
  justify-content: center;
}

.middle-Y {
  align-items: center;
}

.container {
  flex-basis: 90%;
}

.intro {
  font-family: $font-header;
  font-size: 3rem;
}

// BUTTONS /////////////////////////////////////////////////////////////////////
%btn-shared {
  font-family: $font-header;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  min-width: 7rem;
  font-size: 2rem;
}

.btn {
  @extend %btn-shared;
}

.btn-primary {
  @extend %btn-shared;
  background-color: $color-primary;
  color: white;
}

.btn-secondary {
  @extend %btn-shared;
  background-color: $color-secondary;
  color: white;
}

.btn-warning {
  @extend %btn-shared;
  background-color: $color-warning;
  color: white;
}

.btn-danger {
  @extend %btn-shared;
  background-color: $color-danger;
  color: white;
}

.btn-success {
  @extend %btn-shared;
  background-color: $color-success;
  color: white;
}

// BODY

body {
  margin: 0px;
  padding: 0px;
  background-image: url("../img/bg/memphis-colorful.png");
  background-position: center;
  background-repeat: repear;
}

// NAVBAR

.navbar {
  flex-basis: 100%;
  background-color: $color-primary;

  li {
    display: inline-block;
    margin: 0rem 2rem;
    cursor: pointer;
    color: white;
  }
}

// HEADER

.header {
  flex-basis: 100%;
  margin: 4rem 0;
  height: 40rem;
  overflow: hidden;
  background-image: url("../img/bg/header-light.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  .header-left {
    flex: 1 1 40%;
    height: 100%;
  }

  .header-right {
    flex: 2 2 70%;
    background-color: white;
    height: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: inset 5px 0 20px 0 $color-primary;
    transform: scaleY(1.3);

    .header-text {
      font-size: 3rem;
      padding: 2rem;
    }
  }
}

// CONTENT

h1,
h2,
h3,
h4 {
  font-family: $font-header;
  color: $color-danger;
}

.content {
  flex: 1 1 100%;
}

.main {
  flex: 1 1 80%;
  background-color: white;

  .post {
    position: relative;
    flex: 1 1 100%;
    align-items: center;
    border-left: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    border-radius: 5px;
    margin: 5rem 1rem 1rem 5rem;
    padding: 2rem 8rem 1rem 1rem;
    background-image: url("../img/bg/corner.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;

    .post_image {
      position: relative;
      top: 0px;
      left: 0px;
      height: 250px;
      border-radius: 50%;
      transform: translate(-40%, -40%);
      border-top: 3px solid $color-primary;
      border-left: 3px solid $color-primary;
    }

    .post_content {
      flex: 1 1 70%;
      color: grey;
    }

    .post_buttons {
      flex: 1 1 100%;
    }
  }
}

.sidebar {
  flex: 1 1 20%;
  background-color: $color-primary;
  border-radius: 5px;
}

// FOOTER
.footer {
  height: 2rem;
  background-color: $color-success;
}
