@font-face {
  font-family: "Wire One";
  src: url("../font/WireOne.ttf");
}

@font-face {
  font-family: "Orbitron";
  src: url("../font/Orbitron.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Wire One", sans-serif;
}

#startPage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: white;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  font-family: "Orbitron", sans-serif;
}

div.clip {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
}

div.startPage-left {
  left: 0px;
  -webkit-clip-path: polygon(0 0, 74% 0, 24% 100%, 0 100%);
  clip-path: polygon(0 0, 74% 0, 24% 100%, 0 100%);
  -webkit-transition: width 2s;
  transition: width 2s;
}

div.startPage-right {
  right: 0px;
  -webkit-clip-path: polygon(76% 0, 100% 0, 100% 100%, 26% 100%);
  clip-path: polygon(76% 0, 100% 0, 100% 100%, 26% 100%);
  -webkit-transition: width 2s;
  transition: width 2s;
}

@-webkit-keyframes hide {
  0% {
    width: 100vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes hide {
  0% {
    width: 100vw;
  }
  100% {
    width: 0vw;
  }
}

div.startPage-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  -webkit-clip-path: polygon(74% 0%, 76% 0, 26% 100%, 24% 100%);
  clip-path: polygon(74% 0%, 76% 0, 26% 100%, 24% 100%);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

div.startPage-center-image {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px white;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 12;
  cursor: pointer;
}

#mainCont {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  align-content: flex-start;
}

#panel {
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10em;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#panel > div {
  display: flex;
  flex-basis: 6em;
  align-items: center;
  justify-content: center;
  letter-spacing: 7px;
  font-size: 30pt;
  cursor: pointer;
}

#panel > div.home {
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  top: 1em;
  left: 1em;
  padding: 1em;
  font-family: "Orbitron", sans-serif;
  font-size: 8pt;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

#content {
  display: flex;
  width: 100%;
  align-items: center;
}

/* #photo {
  flex: 1;
  display: none;
  margin-left: 15%;
}

#photo > img {
  border-radius: 50%;
  -webkit-filter: drop-shadow(8px 8px 10px gray) grayscale(60%);
  filter: drop-shadow(8px 8px 10px gray) grayscale(60%);
  opacity: 0.9;
} */

#infoCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#backgroundBars {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

[id$="Bars"] {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  height: 49.5vh;
  overflow: hidden;
}

#topBars {
  align-items: flex-end;
  border-bottom: 1px solid;
}

#bottomBars {
  align-items: flex-start;
  border-top: 1px solid;
}

[class$="Bar"] {
  border: 1px solid black;
  transition: ease-out height 2s;
}

.topBar {
  border-radius: 5px 5px 0 0;
}

.bottomBar {
  border-radius: 0 0 5px 5px;
}

footer {
  position: fixed;
  padding: 1em;
  bottom: 0;
  right: 0;
  font-size: 8pt;
  text-align: right;
  letter-spacing: 2px;
  font-family: "Orbitron", sans-serif;
}

@media screen and (max-width: 800px) {
  #panel > div {
    font-size: 20pt;
  }

  footer {
    font-size: 6pt;
  }
}
